<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="./logicLogin.js"></script>
</head>
<body>
    <h2>Login</h2>
    <center>
        User-Name : <input type="text" id="username"><br> <br>
        Password : <input type="password" id="password"><br> <br>
        <input type="button" value="Submit" id='sbtbtn'>
        <div id='dvdata'></div>
        <a style="display:none;" href="/Products" id="Products"></a>
    </center>
</body>
</html>